{% extends 'base.html.twig' %}

{% block body %}
<center>
<br/><h1>{{detailSerie.titre}}</h1><br/>
<div class="resume">
<h3>Resumé</h3>
<p>{{detailSerie.resume}}</p>
</div>
<div>
<p>Durée : {{detailSerie.duree|date('H:i:s')}}<br/>Première diffusion française : {{detailSerie.premiereDiffusion|date('d-m-Y')}}</p>
</div>
<img src="{{detailSerie.image}}"><br/><br/>
<button type="button" class="btn btn-success">Modifier</button>
<a href="{{path('app_serieDelete', {id: detailSerie.id})}}"><button type="button" class="btn btn-danger">Supprimer</button></a><br/><br/><br/>
</center>
<style>
h1{
    text-decoration:underline;
    text-decoration-color:red;
}
h3{
    text-decoration:underline;
}
.resume{
    padding-left:200px;
    padding-right:200px;
}
img{
    width:500px;
    height:600px;
    border-radius:15px;
    border: solid white 3px;
}
</style>
{% endblock %}