{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/like.js') }}"></script>
{% endblock %}

{% block body %}
<center><br/><h1>Vos {{lesSeries|length}} Series Préférées </h1><br/>
<a href="{{path('app_admin_addSerie')}}"><button type="button" class="btn btn-primary">Ajouter</button></a><br/><br/>
<a href="{{path('app_admin_addGenre')}}"><button type="button" class="btn btn-primary">Gérer les genres</button></a><br/><br/>
<a href="{{path('app_testEntity')}}"><button type="button" class="btn btn-danger">Générer des test</button></a><br/><br/><br/>
<div class="row">
    {% for serie in lesSeries %}
    <div class="col-sm-3">
        <div class="lesSerie">
            <a href="{{path('app_detailSerie', {id: serie.id})}}"><div class="uneSerie">
                <img src="{{serie.image}}" style="width:250px;height:300px;border-radius:10px;"><br/><br/>
                <h4>{{serie.titre|upper}}</h4><br/>
                <h6>Durée : {{serie.duree|date('H:i:s')}}</h6>
                <h6>Première Diffusion : {{serie.premiereDiffusion|date('d-m-Y')}}</h6><br/>
                <a class="like" href="{{path('app_addLike', {id: serie.id})}}">
                    <span class="material-symbols-outlined">thumb_up</span>
                    <span class="nbLike">{{serie.likes}}</span> 
                    <span class="likeText" style="margin-right: 10px;">{% if serie.likes < 2 %} Like {% else %} Likes{% endif %}</span> 
                </a><br/><br/>
            </div></a>
        </div><br/><br/>
    </div>
    {% endfor %}</center>
</div>
<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48;
  margin-left: 10px;
}
.like {
    color:#08385B; 
    font-weight:bold;
    font-size:30px;
    border-radius:10px;
    background-color:#2F89C7;
    margin:15px;
    border: 3px solid black
}
.uneSerie:hover{
    background-color:lightgray;
}
img{
    border-radius:20px;
}
h4{
    text-decoration:underline;
}
h2{
    text-decoration:underline;
    text-decoration-color:red;
}
h1{
    text-decoration:underline;
    text-decoration-color:red;
    font-size: 60px;
}
.uneSerie{
    border:solid black 3px;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    border-radius:30px;
    background-color:aliceblue;
    color:black;
    width:350px;
}
a{
    color:black;
    text-decoration:none;
}
a:hover{
    color:black;
    text-decoration:none;
}
.uneSerie:hover{
    background-color:#C5C5C6;
}
.resume{
    margin-left:30px;
    margin-right:30px;
}
.lesSerie{
    display:flex;
    margin-left:70px;
}
</style>
{% endblock %}